<h1>Edit</h1>

<%= link_to "Back", @pins %> | <%= link_to "Delete", @pin, method: :delte, data: {confirm: "Are you sure you want to delete this pin?"} %>

<%= form_for @pin do |f| %>

<div>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>

<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :author %><br>
  <%= f.text_field :author %>
</div>

<div>
  <%= f.label :rating %><br>
  <%= f.label :rating, "1", :value => 1 %>
  <%= f.radio_button :rating, 1 %>
  <%= f.label :rating, "2", :value => 2 %>
  <%= f.radio_button :rating, 2 %>
  <%= f.label :rating, "3", :value => 3 %>
  <%= f.radio_button :rating, 3 %>
  <%= f.label :rating, "4", :value => 4 %>
  <%= f.radio_button :rating, 4 %>
  <%= f.label :rating, "5", :value => 5 %>
  <%= f.radio_button :rating, 5 %>
</div>

<div>
  <%= f.label :note %><br>
  <%= f.text_field :note %>
</div>

<% end %>